FLASK_SECRET_KEY=change-this-secret
FRONTEND_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
DATABASE_URL=sqlite:////app/storage/app.db
DEFAULT_AUTH_EMAIL=somchai@siamtech.co.th
DEFAULT_AUTH_NAME=Somchai Bunnak
DEFAULT_AUTH_COMPANY=Siam Tech Co., Ltd.
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:5000
